* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:blanchedalmond;
}

input{
    display:block;
    width: 70%;
    border: 2px solid black;
    padding: 14px;
    margin-bottom: 20px;
}

input:hover{ 
    border: 3px solid rgb(29, 140, 214);

    
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 20px;
    
}
button:hover {background-color: #3e8e41}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


ul{
    margin: 5px 30px;
}
