*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align:  center;
    padding: 20px;
    margin: 30px;
    background-color: rgb(4, 167, 18);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h1{
    color: goldenrod;
    margin: 30px;
    font-size: 2.1rem;
    font-weight: 800;
}

p{
    color: white;
    font-size: 1.5rem;
    margin: 20px;
    padding: 10px;
    word-spacing: 0.2em;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    padding: 10px;
    background: goldenrod;
   font-weight: bold;
   font-size: 1.2rem;
   border: none;
   border-radius: 3px;
   margin: 10px;

}

button:hover{
    width: 150px;
    padding: 8px;
}
